@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&family=Protest+Riot&family=Quicksand:wght@500&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root {
    --background-color: rgb(28, 39, 39);
    --text-color: #4e4588;
    --background-for-cards: linear-gradient(135deg, #00feba, #5b548a);
    --background-for-btn: linear-gradient(135deg, #3f3a5c, #2fac8a);
    --empte-text: rgb(226, 16, 16);
    --text-btn-and-text-cards: white;
    --active-button: yellow;
}

body {
    background-color: var(--background-color);
    font-family: "Ubuntu", sans-serif;
    min-width: 500px;
}

.wrapper {
    margin: 0 30px;
}

.form {
    display: flex;
    justify-content: center;
    margin: 100px auto 55px;
    gap: 15px;
}

.enter-city {
    padding: 15px 25px;
    font-size: 23px;
    font-weight: bold;
    color: var(--text-color);
    border-radius: 25px;
    border: none;
}

input::placeholder {
    color: #2f9278;
}

.search-city {
    font-size: 18px;
    font-weight: bold;
    border-radius: 22px;
    background-color: var(--text-btn-and-text-cards);
    border: none;
    background: var(--background-for-btn);
    color: var(--text-btn-and-text-cards);
    cursor: pointer;
    padding: 5px 10px;
}

.search-city-hiden {
    display: none;
}

.city-weather {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.city-list {
    width: 300px;
    background: var(--background-for-cards);
    border-radius: 25px;
    color: var(--text-btn-and-text-cards);
    font-size: 18px;
    text-align: center;
}

.temp {
    margin: 20px 0 5px;
}

.cityName {
    color: var(--text-color);
    font-size: 35px;
    margin: 10px 0;
}

.hum-wind {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin: 0 20px 15px 20px;
}

.humidity-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.wind-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

.hum-wind-text {
    margin-top: -20px;
}

.popup-temp {
    margin: 20px 0 5px;
}

.popup-cityName {
    color: var(--text-color);
    font-size: 35px;
    margin: 10px 0;
}

.popup-hum-wind {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin: 0 20px 15px 20px;
}

.popup-humidity-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.popup-wind-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

.popup-hum-wind-text {
    margin-top: -20px;
}

.icon {
    width: 35px;
    height: 30px;
    font-weight: bold;
}

.button {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 20px;
}

.btn {
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 7px;
    border-color: var(--text-color);
    color: var(--text-btn-and-text-cards);
    background: var(--background-for-btn);
    width: 70px;
    cursor: pointer;
}

.text-error {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 50px;
    color: var(--empte-text);
    display: flex;
    justify-content: center;
}

.list-tabs {
    border: 1px solid white;
    border-radius: 15px;
    width: 250px;
    padding: 0 15px;
    margin: auto;
}

.tabs-container {
    display: flex;
    justify-content: space-between;
    color: var(--text-btn-and-text-cards);
    font-size: 20px;
    padding: 5px 0;
    margin: 5px;
}

.tab-title {
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.favorit {
    display: flex;
    justify-content: space-between;
    margin: 15px 20px 0;
}

.btn-favorite {
    cursor: pointer;
    border: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-image: url('../src/img/stars.png');
    background-size: cover;
}

.btn-favorite2 {
    cursor: pointer;
    border: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-image: url('../src/img/star2.png');
    background-size: cover;
}

.open-popup {
    font-size: 25px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: var(--text-btn-and-text-cards);
    font-weight: 700;
    background-color: var(--active-button);
}

.btn-favorite-popup {
    cursor: pointer;
    border: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-image: url('../src/img/stars.png');
    background-size: cover;
    margin: 13px 25px 0;
}

.btn-favorite2-popup {
    cursor: pointer;
    border: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-image: url('../src/img/star2.png');
    background-size: cover;
    margin: 13px 25px 0;
}

.icon-img {
    pointer-events: none;
    width: 25px;
    height: 25px;
}

.active {
    display: block;
    background-color: var(--active-button);
    display: block;
    color: var(--background-color)
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    font-size: 18px;
    text-align: center;
    top: 0;
    left: 0;
    display: none;
}

.popup__content {
    width: 300px;
    height: 300px;
    background-color: rgb(166, 212, 233);
    border-radius: 25px;
    margin: 200px auto;
    position: relative;
}

.popup__close {
    position: absolute;
    right: 30px;
    top: 10px;
    font-size: 25px;
    cursor: pointer;
}

.open-popup {
    display: block;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.temp-popup {
    padding: 15px;
    color: #4e4588;
    font-size: 25px;
}

.loader {
    width: 38px;
    height: 38px;
    border: 2px solid aqua;
    border-radius: 50%;
    border-left-color: var(--text-color);
    animation: loader 1.5s linear infinite;
    margin-top: 5px;
    display: none;
}

@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}

.loader-visible {
    display: block;
}

.loader-none {
    display: none;
}